html {
    background-color: #e7e8ff;
    color: black;
    font-family: Verdana
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


h1 {
    text-align: center;
}

form {
    margin: 10px 0;
}

.blue {
    background-color:white;
}

.font-link {
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

.App {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    table {
    border: 2px solid navy;
    width: 800px;
    height: 200px;
    }
    
    th {
    border-bottom: 1px solid navy;
    }
    
    td {
    text-align: center;
    }


.emphasized {
    font-style: italic;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-parent {
    display: flex;
    min-height: 0px;
}

.jc-center {
    justify-content: center;
}

.link {
    color: #000;
}

.link:visited {
    color: #000;
}

.footer {
    text-align: center;
    flex: 0 0 50px;
    margin-top: auto;
    background-color: white
}

.k5 {
    padding-top: 40px;
    font-weight: 600;
    padding-bottom: 40px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.k6 {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    padding-bottom: 40px;
    padding-top: 30px;
}

.card {
    padding: 20px 10px;
    /* border: 1px solid #000; */
    display:flex;
    flex-direction: column;
    align-items: center;
}


.submit-btn {
    display:flex;
    margin:auto;
}

.img-left {
    float: left;
    width: 200px;
}

.img-right {
    float: right;
    width: 120px;
}

.header {
    vertical-align: center;
    text-align: center;
    height: 120px;
}

.carousel {
    overflow: hidden;
}

.inner {
    white-space: nowrap;
    transition: transform 1s;
}

.carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e8ff;
    color: #fff;
    margin-top: 20px;
}

.indicators {
    display: flex;
    justify-content: center;
}

.indicators > button {
    margin: 5px;
}

.indicators > button.active {
    background-color: blue;
    color: #fff;
}